
.container{
text-align: center;
margin-top: 100px;
}
#First{
    font-size: 25px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    height: 60px;
    width: 60px;
    border-radius: 3px;
    border-color: whitesmoke;
    box-shadow: 2px 1px 2px 3px;
    
}
#screen{
    border: solid black 2px;
    height: 80px;
    width: 450px;
    margin-bottom: 25px;
    background-color: rgb(247, 241, 233);
    font-size: 50px;
}
body{
    background-color: antiquewhite;
    
}
h1{
    font-size: 50px;
}